.chips{
    background-color:map-get($colorBackground, shadowB);
    border-radius: 30px;
    height: 20px;
    @include centerPosition;
    float: left;
    margin: 3px;
    padding: 3px 5px;
 
    @include notUnderline;
    color:map-get($colorText, description);

    &:active{
        background-color: map-get($colorButton, chip);
        color: map-get($colorText, button);
    }
}

.nameChip{
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 15px;
}