.cardMedicine{
    background-color: map-get($colorBackground, boxs );
    webkit-box-shadow: 0px 0px 11px 0px map-get($colorBackground, shadowB);
    -moz-box-shadow: 0px 0px 11px 0px map-get($colorBackground, shadowB);
    box-shadow: 0px 0px 11px 0px map-get($colorBackground, shadowB);
    width: 95%;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}

.nameMedicine{
    color: map-get($colorText, titleMedicine);
    font-weight: 700;
    font-size: 18px;
    font-family: 'Segoe UI';
    text-transform: capitalize;
}

.description{
    color: map-get($colorText, description);
    font-family: 'Segoe UI';
    font-size: 13px;
    background-color: transparent;
    margin: 10px 0;
}
.chipAlertMedicine{
    margin: 10px 0;
}

.subtitle{
    color: map-get($colorText, subtitle);
    font-family: 'Segoe UI';
    font-weight: 500;
    text-transform: capitalize;
}

.chipAlert{
    background-color: map-get($colorButton, chipAlert);
    color: map-get($colorText, button);
    font-family: 'Segoe UI';
    font-weight: 500;
    border-radius: 10px;
    padding: 0 5px;
}

.contentBtnDoctor{
    @include centerPosition;
    margin: 10px 0;
    margin-top: 15px;
}

.btnDoctor{
    margin: auto;
    color: map-get($colorText, button);
    background-color: map-get($colorButton, doctor);
    border: none;
    width: 70%;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    &:active{
        background-color: map-get($colorButton, doctorAct);
    }
}