.head {
    position: fixed;
    height: 50px;
    width: 100%;
    padding: 0 15px;
    top: 0;
    z-index: 9998;
    transition: all 0.5s;
    background-color: map-get($colorBackground, head);
    box-shadow: 5px 5px 5px map-get($colorBackground, shadowB);
}

.contentHead{
    margin-top: 10px;
}

.textLogo{
    color: map-get($colorText, logo);
    font-family: 'Segoe UI';
    font-size: 20px;
    font-weight:bold;
}

.contentBtnDoctor{
    @include centerPosition;
    float: right;
    position: relative;
    right: 30px;
}

.icon{
    margin: auto 3px;
    @include centerPosition;
    color:map-get($colorButton, icon);
    border: none;
    width: 70%;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    &:active{
        color:map-get($colorButton, iconAct);
    }
}