.head {
    position: fixed;
    height: 50px;
    width: 100%;
    padding: 0 15px;
    top: 0;
    z-index: 9998;
    transition: all 0.5s;
    background-color: map-get($colorBackground, head);
    box-shadow: 5px 5px 5px map-get($colorBackground, shadowB);
}

.contentHead{
    margin-top: 10px;
}

.textLogo{
    color: map-get($colorText, logo);
    font-family: 'Segoe UI';
    font-size: 20px;
    font-weight:bold;
}

.contentBtnHeader{
    @include centerPosition;
    float: right;
    position: relative;
    right: 30px;
    background-color: transparent;
    border-radius: 10px;
    padding: 3px;
    bottom: 30px;
    border: none;
    font-family: 'Segoe UI';
    color: map-get($colorText, titleMedicine );
    font-weight: bold;

    &:hover{
        border: 1px solid map-get($colorBackground, shadowB);
        box-shadow: 3px 3px 3px map-get($colorBackground, shadowB);
    }
    &:active{
        background-color: map-get($colorBackground, shadowB);
    }
}

.icon{
    margin: auto 3px;
    @include centerPosition;
    color:map-get($colorButton, icon);
    border: none;
    width: 70%;
    height: 25px;
    border-radius: 10px;
    font-weight: bold;
    position: relative;
    top: 3px;
    &:active{
        color:map-get($colorButton, iconAct);
    }
}

.content{
    margin-top: 50px;
    background-color: map-get($colorBackground, body );
    width: 100%;
    padding: 20px 0;
    position: relative;
}