.medicalRecord{
    background-color: map-get($colorBackground, boxs);
    border-radius: 20px;
    box-shadow: 5px 5px 5px map-get($colorBackground, shadowB);
    margin: auto;
    width: 85%;
    height: 120px;
    overflow: hidden;
    padding: 10px;
}

.divTopMedicalRecord{
    margin-bottom: 3px;
}

.TitleSection{
    color: map-get($colorText, title);
    font-weight: 700;
    font-size: 20px;
    font-family: 'Segoe UI';
}

.contentInputMedicalRecord{
    margin-bottom: 5px;
    label{
        font-family: 'Segoe UI';
        font-weight: 500;
        color: map-get($colorText, labelInput);
    }
}

.inputMedicalRecord{
    width: 40px;
    border: none;
    font-family: 'Segoe UI';
    border-bottom: 1px solid map-get($colorBorder, lgray);
    position: relative;
    bottom: 2px;
}

.divButton{
    margin-top: 10px;
    @include centerPosition;
    button{
        margin: auto;
        background-color: map-get($colorButton, submitC);
        border-radius: 15px;
        font-family: 'Segoe UI';
        font-weight: 500;
        font-size: 15px;
        color:map-get($colorText, button);
        width: 80%;
        height: 30px;
        border: none;

        &:active{
            background-color: map-get($colorButton, submitAct);
        }
    }
}
