.sectionPains{
    background-color: transparent;
    width: 85%;
    overflow: hidden;
    padding: 10px;
    margin: 15px auto;
    margin-bottom: 0;
    border-radius: 20px;
}

.contentChips{
    background-color: map-get($colorBackground, boxs);
    box-shadow: 5px 5px 5px map-get($colorBackground, shadowB);
    border-radius: 10px;
    width: 95%;
    margin: auto;
    height: 132px;
    @include wrapPosition;
    overflow:scroll;
    overflow-x:hidden;
    margin-top: 10px;
    padding: 5px;
}