/*NOTE:CENTER ELEMENTS*/
/*NOTE: PLACE ELEMENTS IN CENTERED COLUMANS*/
.head {
  position: fixed;
  height: 50px;
  width: 100%;
  padding: 0 15px;
  top: 0;
  z-index: 9998;
  transition: all 0.5s;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px #e4e2e2; }

.contentHead {
  margin-top: 10px; }

.textLogo {
  color: #FA314A;
  font-family: 'Segoe UI';
  font-size: 20px;
  font-weight: bold; }

.contentBtnHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  position: relative;
  right: 30px;
  background-color: transparent;
  border-radius: 10px;
  padding: 3px;
  bottom: 25px;
  margin: 0 3px;
  border: none;
  color: #000;
  font-weight: 600; }
  .contentBtnHeader:hover {
    border: 1px solid #e4e2e2;
    box-shadow: 3px 3px 3px #e4e2e2; }

.icon {
  margin: auto 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  border: none;
  width: 70%;
  height: 25px;
  border-radius: 10px;
  font-weight: bold; }

.content {
  margin-top: 50px;
  background-color: #F5F5F5;
  width: 100%;
  padding: 20px 0;
  position: relative; }

.medicalRecord {
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #e4e2e2;
  margin: auto;
  width: 85%;
  height: 120px;
  overflow: hidden;
  padding: 10px; }

.divTopMedicalRecord {
  margin-bottom: 3px; }

.TitleSection {
  color: #0862F9;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Segoe UI'; }

.contentInputMedicalRecord {
  margin-bottom: 5px; }
  .contentInputMedicalRecord label {
    font-family: 'Segoe UI';
    font-weight: 500;
    color: #6f6d6d; }

.inputMedicalRecord {
  width: 40px;
  border: none;
  font-family: 'Segoe UI';
  border-bottom: 1px solid #6f6d6d;
  position: relative;
  bottom: 2px; }

.divButton {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .divButton button {
    margin: auto;
    background-color: #0862F9;
    border-radius: 15px;
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    width: 80%;
    height: 30px;
    border: none; }
    .divButton button:active {
      background-color: #0449c1; }

.sectionPains {
  background-color: transparent;
  width: 85%;
  overflow: hidden;
  padding: 10px;
  margin: 15px auto;
  margin-bottom: 0;
  border-radius: 20px; }

.contentChips {
  background-color: transparent;
  height: 125px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 5px; }

.chips {
  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px #e4e2e2;
  border-radius: 30px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 3px;
  padding: 3px;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  color: #0EE3B9; }
  .chips:active {
    background-color: #0EE3B9;
    color: #FFFFFF; }

.nameChip {
  font-family: 'Segoe UI';
  font-weight: 500;
  font-size: 15px; }

.sectionMedicine {
  background-color: transparent;
  width: 85%;
  overflow: hidden;
  padding: 10px;
  margin: 5px auto;
  margin-bottom: 0;
  border-radius: 20px; }

.contentCard {
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px; }

.cardMedicine {
  background-color: #FFFFFF;
  webkit-box-shadow: 0px 0px 11px 0px #e4e2e2;
  -moz-box-shadow: 0px 0px 11px 0px #e4e2e2;
  box-shadow: 0px 0px 11px 0px #e4e2e2;
  width: 95%;
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px; }

.nameMedicine {
  color: #000;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Segoe UI';
  text-transform: capitalize; }

.description {
  color: #302D2D;
  font-family: 'Segoe UI';
  font-size: 13px;
  background-color: transparent;
  margin: 10px 0; }

.chipAlertMedicine {
  margin: 10px 0; }

.subtitle {
  color: #0099FF;
  font-family: 'Segoe UI';
  font-weight: 500;
  text-transform: capitalize; }

.chipAlert {
  background-color: #F95287;
  color: #FFFFFF;
  font-family: 'Segoe UI';
  font-weight: 500;
  border-radius: 10px;
  padding: 0 5px; }
