$colorBackground:(
    head:#FFFFFF,
    body:#F5F5F5,
    boxs:#FFFFFF,
    shadowB:#e4e2e2,
);

$colorText:(
    logo:#FA314A,
    title:#0862F9,
    labelInput:#6f6d6d,
    button:#FFFFFF,
    chip:#0EE3B9,
    titleMedicine:#0ab9e5,
    viewText:#800cec,
);

$colorButton:(
    submitC:#0862F9,
    submitAct: #0449c1,
    chip:#0EE3B9,
);

$colorBorder:(
    lgray:#6f6d6d,
)
